@using TechCareerFair.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    TechCareerFair.DAL.AdminDAL.AdminRepository ar = new TechCareerFair.DAL.AdminDAL.AdminRepository();
    string supportEmail = ar.SelectOne(1).ContactEmail;
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="shrink-col-size">
            <div class="login-container">

                <h2>@ViewBag.Title.</h2>
                <div id="socialLoginForm">
                    <div id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
                    @Html.AntiForgeryToken()
                    <h4>Log in with an existing account</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group login-form-group">
                        <div>
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group login-form-group">
                        <div>
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group login-form-group">
                        <div>
                            <div class="checkbox-login-main">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group login-form-group">
                        <div>
                            <input type="submit" value="Log in" class="btn-log-in-main" />
                        </div>
                    </div>
                    <div class="form-group login-form-group">
                        <div>
                            <p class="btn-register-new-user">
                                @Html.ActionLink("Register as a new user", "RegisterIndex")
                            </p>
                        </div>
                    </div>

                    @* Enable this once you have account confirmation enabled for password reset functionality
    <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>*@
                    <p>
                        Contact support for assistance at <a href="mailto:@supportEmail">@supportEmail</a>
                    </p>
}
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="col-md-6 col-sm-12">
            <div class="shrink-col-size">
                <div class="login-container">
                    <div id="socialLoginForm-other">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
        </div>

    </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
