@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<TechCareerFair.Models.ApplicantViewModel>



@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home - Seach Applicant Information";
    var pagedList = (IPagedList)Model;
    var criteria = ViewBag.CurrentCriteria;
    var currentFilter = ViewBag.CurrentFilter;
}

<style>
    .body-content {
        background-color: #edf9ef;
    }

  
    .form-group.applicant-field label {
        height: 150px;
    }
</style>


<h2>Search An Applicant</h2>

Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager(pagedList, page => Url.Action("SearchApp", new { page, filter = currentFilter, sortOrder = ViewBag.CurrentSort, searchCriteria = criteria }))

@using (Html.BeginForm(new { page = 1, filter = currentFilter, sortOrder = ViewBag.CurrentSort, searchCriteria = criteria }))
{
    <div id="FilterSearch" class="form-horizontal">

        <div class="form-group">
            @Html.Label("Search by Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>

    
        <div class="form-group applicant-field">

            @Html.Label("Fields of Study", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col=md-10">
                @if(ViewBag.AllFields != null)
                {
                    for (int i = 0; i < ViewBag.AllFields.Count; i++)
                    {
                        string name = ViewBag.AllFields[i].Name;
                        bool contains = (ViewBag.Fields != null ? ViewBag.Fields.Contains(name) : false);
                        @Html.CheckBox(name, contains)<span>@name</span>
                        <br/>
                    }
                }
            </div>

        </div>

        <div class="form-group">
            <input type="submit" value="Find Applicants" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Search Applicant Again" onclick="location.href='@Url.Action("SearchApp","Home")'" class="btn col-md-2 col-md-offset-2" />
        </div>

    </div>
}

<br/>


<table class="table">
    <tr>

        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstName).ToHtmlString(), "SearchApp", new { sortOrder = "FirstName", searchCriteria = criteria, filter = currentFilter })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.LastName).ToHtmlString(), "SearchApp", new { sortOrder = "LastName", searchCriteria = criteria, filter = currentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fields)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Fields)*@
            @foreach(var f in item.Fields)
            {
                string print = f + ". ";
                @Html.Raw(print);
            }


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Details","GetSearchUserType", "ViewProfile", new { id=item.ApplicantID, isApplicant = true },null)
        </td>

    </tr>
    }

</table>


