@model IEnumerable<TechCareerFair.Models.BusinessViewModel>


@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home - Seach Business Information";
    var pagedList = (IPagedList)Model;
    var criteria = ViewBag.CurrentCriteria;
    var currentFilter = ViewBag.CurrentFilter;

    bool intern = false;
    if(ViewBag.InternFilter != null)
    {
        intern = ViewBag.InternFilter;
    }
}

<style>
    .body-content {
        background-color: #edf9ef;
    }

    .form-group.business-field label {
        height: 150px;
    }
    .form-group.business-field label {
        height: 180px;
    }

    .form-group.business-btn input {
        background-color: #008265;
        font-size: 20px;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .form-group.business-btn input:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }


    .table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        border-top: 1px solid black;
        text-align: center;
        padding: 15px;
        background-color: #008265;
        color: #fff;
    }

    td {
        padding: 15px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }


</style>

<h2>Search Businesses</h2>
<br/>

Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager(pagedList, page => Url.Action("SearchBus", new { page, filter = currentFilter, sortOrder = ViewBag.CurrentSort, searchCriteria = criteria }))

@using (Html.BeginForm(new { page = 1, filter = currentFilter, sortOrder = ViewBag.CurrentSort, searchCriteria = criteria }))
{
    <div id="FilterSearch" class="form-horizontal">

        <div class="form-group">
            @Html.Label("Search by Business Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            <strong class="control-label col-md-2">Internship Available</strong> @Html.CheckBox("internship", intern)
        </div>

        <div class="form-group business-field">
            @Html.Label("Business Fields", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col=md-10">
                @if (ViewBag.AllFields != null)
                {
                    for (int i = 0; i < ViewBag.AllFields.Count; i++)
                    {
                        string name = ViewBag.AllFields[i].Name;
                        bool contains = (ViewBag.Fields != null ? ViewBag.Fields.Contains(name) : false);
                        @Html.CheckBox(name, contains)<span> @name</span>
                        <br />
                    }
                }
            </div>

        </div>
      
        
        <div class="form-group business-btn">
            <input type="submit" value="Find Business" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Reset List" onclick="location.href='@Url.Action("SearchBus","Home")'" class="btn col-md-2 col-md-offset-2" />
        
        </div>
        </div>

        
   }  

<br/>   
<table class="table">
    <tr>

        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.BusinessName).ToHtmlString(), "SearchBus", new { sortOrder = "BusinessName", searchCriteria = criteria, filter = currentFilter }, new { style = "color:white; text-decoration: underline" })
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>


        <th></th>
    </tr>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)

                    @if (item.Photo != null && item.Photo != "")
                    {
                        <img src='@Html.DisplayFor(modelItem => item.Photo)' .ToHtmlString() width="45" height="45" style="margin-left:15px" />

                    }
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>


                <td>
                    @Html.ActionLink("Details", "GetSearchUserType", "ViewProfile", new { id = item.BusinessID, isApplicant = false }, null)
                </td>

            </tr>
        }
    }
    else
    {
        <tr><td><span>No results found.</span></td><td></td><td></td><td></td></tr>
    }

</table>
