@model TechCareerFair.Models.BusinessViewModel

@{
    ViewBag.Title = "BusinessViewProfile";
    string socialMedia = ViewBag.SocialMedia;
    string website = ViewBag.Website;
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h2 class="col-md-6">@Html.DisplayFor(model => model.BusinessName)</h2>
    <dl class="col-md-6">
        <dd>
            <img src="@Html.DisplayFor(model => model.Photo)" alt="Business Photo" height="150" width="200" />
        </dd>
    </dl>
</div>


<div>
    @*general business profile info*@
    <dl class="dl-horizontal col-md-5">
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State), @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fields)
        </dt>
        <dd></dd>
        @foreach (string field in ViewBag.Fields)
        {
            <dd>
                @field
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Positions)
        </dt>
        <dd></dd>
        @foreach (TechCareerFair.Models.position position in ViewBag.Positions)
        {
            string fullSite = position.Website;
            <dd>
                @if (!fullSite.IsEmpty() && !fullSite.Contains("http") && !fullSite.Contains("https"))
                {
                    fullSite = "<a href='http://" + fullSite + "'>" + position.Name + "</a>";
                }
                else
                {
                    fullSite = position.Name;
                }

                <p>
                    Name: @Html.Raw(fullSite) <br />
                    Description: @position.Description <br />
                    Is Internship: @position.Internship.ToString()
                </p>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Alumni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonProfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonProfit)
        </dd>

    </dl>

    @*tech career fair related info*@
    <dl class="dl-horizontal col-md-5">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @if (!website.IsEmpty() && !website.Contains("http") && !website.Contains("https"))
            {
                website = "<a href='http://" + website + "'>" + website + "</a>";
            }
            else
            {
                @Html.DisplayFor(model => model.Website)
            }
            @Html.Raw(website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>
        <dd>
            @if (!socialMedia.IsEmpty() && !socialMedia.Contains("http") && !socialMedia.Contains("https"))
            {
                socialMedia = "<a href='http://" + socialMedia + "'>" + socialMedia + "</a>";
            }
            else
            {
                @Html.DisplayFor(model => model.SocialMedia)
            }
            @Html.Raw(socialMedia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Outlet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outlet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationPreference)
        </dd>
    </dl>
    <div class="form-group col-md-2">
        <input type="button" value="Change Password" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" class="btn btn-primary" />
        <input type="button" value="Edit Profile" onclick="location.href='@Url.Action("EditBusiness", new { id = Model.BusinessID })'" class="btn btn-primary" />
    </div>
</div>

<style>
    .body-content {
        background-color: #edf9ef;
    }
</style>

