@model TechCareerFair.Models.ApplicantViewModel

@{
    ViewBag.Title = "Admin - Applicant Details";
    string resume = Html.DisplayFor(model => model.Resume).ToHtmlString();
}

<style>
    .body-content {
        background-color: #edf9ef;
    }
</style>

<h2>Applicant Details</h2>

<div>
    <h4>Applicant Account</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fields)
        </dt>
        <dd></dd>
        @foreach (string field in ViewBag.Fields)
    {
        <dd>
            @field
        </dd>
}

        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
            @if(Model.Resume != "")
            {
                <a href="@resume" class="btn btn-default">Download</a>
            }
            else
            {
                <span>This applicant has not uploaded a resume.</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Internship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditApplicant", new { id = Model.ApplicantID }) |
    @Html.ActionLink("Delete", "DeleteApplicant", new { id = Model.ApplicantID }) |
    @Html.ActionLink("Back to List", "ListApplicants")
</p>
