@model IEnumerable<TechCareerFair.Models.field>

@{
    ViewBag.Title = "Admin - Manage Fields";
}
<h2>Admin - Manage Fields</h2>

<p>
    @Html.ActionLink("Create New", "FieldOfStudyCreate") | @Html.ActionLink("Return", "LandingPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "FieldOfStudyEdit", new { id = item.FieldID }) |
                @Html.ActionLink("Details", "FieldOfStudyDetails", new { id = item.FieldID }) |
                @Html.ActionLink("Delete", "FieldOfStudyDelete", new { id = item.FieldID })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Return", "LandingPage")
</p>