@model TechCareerFair.Models.admin

@{
    ViewBag.Title = "Admin Login";
}

<h2 class="text-center text">@ViewBag.Title</h2>
<div class="container divCenter text backgroundLightGrey">
    <div class="">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--<div class="form-group">
                    Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>-->
                <div>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="loginBtn card" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<style>
    .text {
        color: white;
    }

    .backgroundLightGrey {
        background-color: #999;
    }

    @@media (min-width: 768px) {
        .divCenter {
            width: 50%;
        }
    }

    .loginBtn {
        display: inline-block;
        padding: 10px 30px;
        color: #eee;
        margin: 10px;
        background: #777;
        border: none;
    }

    .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

