@model IEnumerable<TechCareerFair.Models.applicant>

@{
    ViewBag.Title = "Admin - Manage Applicant Accounts";
}

<style>
    .body-content {
        background-color: #edf9ef;
    }
</style>

<h2>Admin - Manage Applicant Accounts</h2>

<p>
    @Html.ActionLink("Create New", "CreateApplicant") | @Html.ActionLink("Return", "LandingPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditApplicant", new { id=item.ApplicantID }) |
            @Html.ActionLink("Details", "ApplicantDetails", new { id=item.ApplicantID }) |
            @Html.ActionLink("Delete", "DeleteApplicant", new { id=item.ApplicantID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Return", "LandingPage")
</p>
